body{
    margin: 0;
    background-color: rgb(187, 164, 134);
}
header#header-outer{
    height: 60px;
}
header#header-outer h2{
    padding: 10px;
}
div#outer{
    margin: 0 auto;
    width: 1200px;
    background-color: rgb(241, 227, 209);
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
}
nav{
    background-color: rgb(91, 55, 55);
    height: 60px;
    border-collapse: separate;
}
nav a{
    display: inline-block;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    border-right: 2px solid rgb(207, 193, 175);  
    margin-top: 1px;
    margin-bottom: 1px;   
}
nav a:not(:first-child){
    margin-left: -4px;
    margin-right: -3px;    
}
nav a:hover{
    background-color: rgb(167, 102, 102);    
}
main{
    margin-top: 0;
    padding: 1%;
    border-bottom: 2px solid rgb(47, 46, 46);
}
main hr#new1{
    border: 2px solid rgb(47, 46, 46);
}
main table#main{
    height: 200px;
}
div#Logo{
    margin: 0 auto;    
    background-color: rgb(207, 193, 175);
}
div#Logo div{
    display: inline-block;
    padding: 2px 60px;
}
aside{
    height: 800px;
    padding: 2%;
    text-align: justify;
    width: 350px;
    border-right: 2px solid rgb(70, 70, 70);
}
aside li{
    list-style: none;
}
article{
    padding: 2%;
}
article#Info{
    border-bottom: 2px solid rgb(70, 70, 70);
}
article#Info table#info{
    table-layout: auto, 100%;
    width: 800px;
    line-height: 60px;
    height: 60px;
    border-collapse: collapse;
}
article#Info table#info tr{
    height: 60px;
    padding: 2%;
    margin: 0;
}
article#Info table#info tr td#image{
    padding: 5px 30px;
}
article#Info table#info tr td#list{
    height: 500px;
}
article#Info table#info tr td#list div#div div#lista li{
    list-style: none;
}
table#main tr td#td2{
    padding: 4%;
}
table#tabla{
    table-layout: auto, 100%;
    width: 900px;
    align-content: center;
    border-collapse: collapse;
    border: 1px solid black;
}
table#tabla tr{
    border-collapse: collapse;
    border: 1px solid black;
}
table#tabla tr td{
    border-collapse: collapse;
    border: 1px solid black;
}
table#tabla tr th{
    border-collapse: collapse;
    border: 1px solid black;
}
table#tabla div#content{
    padding: 10%;
}
div#list-content li{
    list-style: none;
}
div#list-two li{
    list-style: none;
}





